$primary-color: #cc1c45;
$secondary-color: #333;
$white-color: #fff;
$navbar-height: 80px;

@mixin displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  @include displayFlex;
  position: relative;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $white-color;
  height: $navbar-height;
  padding: 0 20px;

  &.mobile {
   
    .navbar-brand {
      // width: 100%;
      // text-align: center;
      display: none;
      .logo{
        width: 50px;
        height: 50px;
      }
      .navbar-icons{
        .fa{
          font-size: 23px;
      }
    }
    }

    .navbar-menu {
      display: none;
      position: absolute;
      top: $navbar-height;
      left: 0;
      width: 100%;
      background-color: $white-color;

      &.open {
        display: block;
        
      }

      .navbar-nav {
        flex-direction: column;
        align-items: center;

        .nav-item {
          list-style: none;

          .nav-link {
            display: block;
            padding: 10px;
            text-align: center;
          }
        }
      }
    }
  }

  .navbar-brand {
    width: 5%;
    .logo{
      width: 50px;
      height: 50px;
    }
  }

  .navbar-menu {
    width: 40%;

    .navbar-nav {
      @include displayFlex;

      .nav-item {
        list-style: none;

        a {
          text-decoration: none;
          color: black;
          font-weight: 500;
          font-size: 13px;
          cursor: pointer;
          padding: 10px;
        }
      }
    }
  }

  .search-input-div {
    width: 20%;

    input {
      padding: 10px 11px;
      width: 300px;
      border: none;
      border-radius: 3px;
      background-color: rgba(199, 199, 199, 0.285);
      color: rgb(155, 155, 155);
    }
  }

  .navbar-icons {
    color: black;
    @include displayFlex;
    width: 15%;

    .icon-and-heading {
      @include displayFlex;
      flex-direction: column;
      cursor: pointer;

      span {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  &-toggle {
    width: 100%;
    @include displayFlex;
    cursor: pointer;
    .burger-icon-brand-text-container{
      @include displayFlex;
    }
    .navbar-icons{
      gap: 10px;
      padding: 5px;
    }
    .brand-text-mobile{
      color: grey;
      font-size: 18px;
      margin-left: 15px;
      font-weight: 600;
    }
    .navbar-toggle-label {
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      cursor: pointer;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $secondary-color;
        position: absolute;
        left: 0;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(2) {
          margin-top: -2px;
        }

        &:nth-child(3) {
          margin-top: 2px;
        }
      }
    }
  }
}


.navbar-menu {
  .sidebar {
    width: 305px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    color: #fff;
    padding-top: 80px;
    transition: transform 0.3s ease-in-out;
    
    .side-image-box{
      position: absolute;
      top: 0;
      .sidenav-image{
        width: 305px;
        height: 150px;
      }
    }



    &.open {
      transform: translateX(0);
     
    }

    &.closed {
      transform: translateX(-100%);
    }

    .sidebar-nav {
      height: 400px;
      padding: 20px;
      margin-top: 60px;
     
      
      .sidebar-item {
        @include displayFlex;
        flex-wrap: wrap;
        list-style: none;
        padding: 10px;
         a{
          text-decoration: none;
          color: grey;
         }
         .menu-item-icon{
          margin-top: -20px;
        }
        .sidebar-link {
          display: block;
          padding: 10px;
          color: #fff;
          text-decoration: none;
          
          &:hover {
            background-color: #555;
          }
        }
        .submenu{
         .submenu-item{
            position: relative;
            top:0;
            right: -50px;
            
          }
        }
      }
    }
  }
}
